# Pre-processing data

## Converting  data type

In [72]:
import pandas as pd
import matplotlib.pylab as plt

In [73]:
df=pd.read_csv('artwork_sample.csv')

/root/anaconda3/envs/tensorflow/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [74]:
df.head(10)

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
5,1040,A00006,"Blake, William",artist,39,Ciampolo the Barrator Tormented by the Devils,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 240 x 338 mm,240,338,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-ciam...
6,1041,A00007,"Blake, William",artist,39,The Baffled Devils Fighting,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 242 x 334 mm,242,334,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
7,1042,A00008,"Blake, William",artist,39,The Six-Footed Serpent Attacking Agnolo Brunel...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 246 x 340 mm,246,340,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
8,1043,A00009,"Blake, William",artist,39,The Serpent Attacking Buoso Donati,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 241 x 335 mm,241,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
9,1044,A00010,"Blake, William",artist,39,The Pit of Disease: The Falsifiers,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 243 x 340 mm,243,340,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [75]:
df.describe

<bound method NDFrame.describe of           id accession_number                             artist artistRole  \
0       1035           A00001                      Blake, Robert     artist
1       1036           A00002                      Blake, Robert     artist
2       1037           A00003                      Blake, Robert     artist
3       1038           A00004                      Blake, Robert     artist
4       1039           A00005                     Blake, William     artist
...      ...              ...                                ...        ...
42498  11910           N03973               Pinwell, George John     artist
42499   1784           N03975  Burne-Jones, Sir Edward Coley, Bt     artist
42500   1785           N03976  Burne-Jones, Sir Edward Coley, Bt     artist
42501   1786           N03977  Burne-Jones, Sir Edward Coley, Bt     artist
42502   1787           N03978  Burne-Jones, Sir Edward Coley, Bt     artist

       artistId                                              title  \
0            38  A Figure Bowing before a Seated Old Man with h...
1            38  Two Drawings of Frightened Figures, Probably f...
2            38  The Preaching of Warning. Verso: An Old Man En...
3            38     Six Drawings of Figures with Outstretched Arms
4            39  The Circle of the Lustful: Francesca da Rimini...
...         ...                                                ...
42498       426  By the Dovecote, engraved by the Dalziel Brothers
42499        68                                        Female Head
42500        68                             Head of Miss M. Benson
42501        68                                               Head
42502        68        Study of Medusa for ‘The Finding of Medusa’

                     dateText  \
0              date not known
1              date not known
2                     ?c.1785
3              date not known
4      1826–7, reprinted 1892
...                       ...
42498                    1865
42499          date not known
42500          date not known
42501          date not known
42502                  c.1877

                                                  medium  \
0      Watercolour, ink, chalk and graphite on paper....
1                                      Graphite on paper
2            Graphite on paper. Verso: graphite on paper
3                                      Graphite on paper
4                                Line engraving on paper
...                                                  ...
42498                            Wood engraving on paper
42499                                  Graphite on paper
42500                                  Graphite on paper
42501                                  Graphite on paper
42502                                  Graphite on paper

                                              creditLine    year  \
0                    Presented by Mrs John Richmond 1922     NaN
1                    Presented by Mrs John Richmond 1922     NaN
2                    Presented by Mrs John Richmond 1922  1785.0
3                    Presented by Mrs John Richmond 1922     NaN
4      Purchased with the assistance of a special gra...  1826.0
...                                                  ...     ...
42498                                     Purchased 1924  1865.0
42499                      Presented by Lord Duveen 1924     NaN
42500                      Presented by Lord Duveen 1924     NaN
42501                      Presented by Lord Duveen 1924     NaN
42502                      Presented by Lord Duveen 1924  1877.0

       acquisitionYear             dimensions width height  depth units  \
0               1922.0  support: 394 x 419 mm   394    419    NaN    mm
1               1922.0  support: 311 x 213 mm   311    213    NaN    mm
2               1922.0  support: 343 x 467 mm   343    467    NaN    mm
3               1922.0  support: 318 x 394 mm   318    394    NaN    mm
4               1919.0    image: 243 x 335 mm   243    335    NaN    mm
...                ...                    ...   ...    ...    ...   ...
42498           1924.0    image: 159 x 127 mm   159    127    NaN    mm
42499           1924.0  support: 190 x 165 mm   190    165    NaN    mm
42500           1924.0  support: 238 x 178 mm   238    178    NaN    mm
42501           1924.0  support: 197 x 165 mm   197    165    NaN    mm
42502           1924.0                    NaN   NaN    NaN    NaN   NaN

          inscription thumbnailCopyright  \
0                 NaN                NaN
1                 NaN                NaN
2                 NaN                NaN
3                 NaN                NaN
4                 NaN                NaN
...               ...                ...
42498  date inscribed                NaN
42499             NaN                NaN
42500             NaN                NaN
42501             NaN                NaN
42502             NaN                NaN

                                            thumbnailUrl  \
0      http://www.tate.org.uk/art/images/work/A/A00/A...
1      http://www.tate.org.uk/art/images/work/A/A00/A...
2      http://www.tate.org.uk/art/images/work/A/A00/A...
3      http://www.tate.org.uk/art/images/work/A/A00/A...
4      http://www.tate.org.uk/art/images/work/A/A00/A...
...                                                  ...
42498  http://www.tate.org.uk/art/images/work/N/N03/N...
42499  http://www.tate.org.uk/art/images/work/N/N03/N...
42500  http://www.tate.org.uk/art/images/work/N/N03/N...
42501  http://www.tate.org.uk/art/images/work/N/N03/N...
42502                                                NaN

                                                     url
0      http://www.tate.org.uk/art/artworks/blake-a-fi...
1      http://www.tate.org.uk/art/artworks/blake-two-...
2      http://www.tate.org.uk/art/artworks/blake-the-...
3      http://www.tate.org.uk/art/artworks/blake-six-...
4      http://www.tate.org.uk/art/artworks/blake-the-...
...                                                  ...
42498  http://www.tate.org.uk/art/artworks/pinwell-by...
42499  http://www.tate.org.uk/art/artworks/burne-jone...
42500  http://www.tate.org.uk/art/artworks/burne-jone...
42501  http://www.tate.org.uk/art/artworks/burne-jone...
42502                                                NaN

[42503 rows x 20 columns]>

In [76]:
import numpy as np

In [77]:
df.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                  float64
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [78]:
df.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [79]:
df.height

0        419
1        213
2        467
3        394
4        335
        ...
42498    127
42499    165
42500    178
42501    165
42502    NaN
Name: height, Length: 42503, dtype: object

## convert height into float datatpe

In [80]:
pd.to_numeric(df.height,errors='coerce')

0        419.0
1        213.0
2        467.0
3        394.0
4        335.0
         ...
42498    127.0
42499    165.0
42500    178.0
42501    165.0
42502      NaN
Name: height, Length: 42503, dtype: float64

In [81]:
df.height[42502]

nan

In [82]:
df.height=pd.to_numeric(df.height,errors='coerce')

In [83]:
df.height.dtype

dtype('float64')

In [84]:
df.height.min()

21.0

In [85]:
df.height.max()

14850.0

In [86]:
df.height.mean()

210.93723451003368

## Normalizing  Height

In [87]:
df.height.dtype

dtype('float64')

### Normmalization method

<b>Min-max normalization </b>is one of the most common ways to normalize data. For every feature, the minimum value of that feature gets transformed into a 0, the maximum value gets transformed into a 1, and every other value gets transformed into a decimal between 0 and 1.

<b>Formula =</b> vlaue-min/max-min


<b>Z-SCORE NORMALIZATION</b> Z-score normalization is a strategy of normalizing data that avoids this outlier issue. The formula for Z-score normalization is below:
     value-μ/σ
​
​

In [88]:
height=df.height

## normalized by z-score

In [89]:

norm=(height -height.mean())/height.std()

In [90]:
norm

0        0.794682
1        0.007879
2        0.978014
3        0.699196
4        0.473849
           ...
42498   -0.320593
42499   -0.175454
42500   -0.125802
42501   -0.175454
42502         NaN
Name: height, Length: 42503, dtype: float64

### by min max normalized

In [91]:
minmax=(height-height.mean())/(height.max()-height.mean())

In [92]:
minmax

0        0.014213
1        0.000141
2        0.017492
3        0.012505
4        0.008475
           ...
42498   -0.005734
42499   -0.003138
42500   -0.002250
42501   -0.003138
42502         NaN
Name: height, Length: 42503, dtype: float64

In [93]:
minmax.min()

-0.012974685439411496

In [94]:
minmax.max()

1.0

In [95]:
df.height

0        419.0
1        213.0
2        467.0
3        394.0
4        335.0
         ...
42498    127.0
42499    165.0
42500    178.0
42501    165.0
42502      NaN
Name: height, Length: 42503, dtype: float64

In [96]:
df.height=minmax

In [97]:
df['std_height']=norm

In [98]:
df.height

0        0.014213
1        0.000141
2        0.017492
3        0.012505
4        0.008475
           ...
42498   -0.005734
42499   -0.003138
42500   -0.002250
42501   -0.003138
42502         NaN
Name: height, Length: 42503, dtype: float64

### Transforming data

In [99]:
df.height.transform(lambda x: x)

0        0.014213
1        0.000141
2        0.017492
3        0.012505
4        0.008475
           ...
42498   -0.005734
42499   -0.003138
42500   -0.002250
42501   -0.003138
42502         NaN
Name: height, Length: 42503, dtype: float64

In [100]:
df.height.transform(lambda x: x/10)

0        0.001421
1        0.000014
2        0.001749
3        0.001251
4        0.000847
           ...
42498   -0.000573
42499   -0.000314
42500   -0.000225
42501   -0.000314
42502         NaN
Name: height, Length: 42503, dtype: float64

In [101]:
df

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,...,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url,std_height
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,date not known,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,...,support: 394 x 419 mm,394,0.014213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...,0.794682
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,...,support: 311 x 213 mm,311,0.000141,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...,0.007879
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,...,support: 343 x 467 mm,343,0.017492,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,0.978014
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,...,support: 318 x 394 mm,318,0.012505,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...,0.699196
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,...,image: 243 x 335 mm,243,0.008475,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...,0.473849
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42498,11910,N03973,"Pinwell, George John",artist,426,"By the Dovecote, engraved by the Dalziel Brothers",1865,Wood engraving on paper,Purchased 1924,1865.0,...,image: 159 x 127 mm,159,-0.005734,NaN,mm,date inscribed,NaN,http://www.tate.org.uk/art/images/work/N/N03/N...,http://www.tate.org.uk/art/artworks/pinwell-by...,-0.320593
42499,1784,N03975,"Burne-Jones, Sir Edward Coley, Bt",artist,68,Female Head,date not known,Graphite on paper,Presented by Lord Duveen 1924,NaN,...,support: 190 x 165 mm,190,-0.003138,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/N/N03/N...,http://www.tate.org.uk/art/artworks/burne-jone...,-0.175454
42500,1785,N03976,"Burne-Jones, Sir Edward Coley, Bt",artist,68,Head of Miss M. Benson,date not known,Graphite on paper,Presented by Lord Duveen 1924,NaN,...,support: 238 x 178 mm,238,-0.002250,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/N/N03/N...,http://www.tate.org.uk/art/artworks/burne-jone...,-0.125802
42501,1786,N03977,"Burne-Jones, Sir Edward Coley, Bt",artist,68,Head,date not known,Graphite on paper,Presented by Lord Duveen 1924,NaN,...,support: 197 x 165 mm,197,-0.003138,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/N/N03/N...,http://www.tate.org.uk/art/artworks/burne-jone...,-0.175454
42502,1787,N03978,"Burne-Jones, Sir Edward Coley, Bt",artist,68,Study of Medusa for ‘The Finding of Medusa’,c.1877,Graphite on paper,Presented by Lord Duveen 1924,1877.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df.groupby('artist')

In [103]:
df.groupby('artist').transform('nunique')

,id,accession_number,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url,std_height
0,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4,4
1,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4,4
2,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4,4
3,4,4,1,1,4,2,3,1,1,1,4,4,4,0,1,0,0,4,4,4
4,94,94,1,1,91,29,22,13,20,10,76,53,47,0,1,1,0,92,94,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42498,4,4,1,1,4,3,4,3,2,3,4,4,4,0,1,1,0,4,4,4
42499,97,97,1,1,86,34,22,11,17,8,92,71,64,0,1,1,0,90,96,64
42500,97,97,1,1,86,34,22,11,17,8,92,71,64,0,1,1,0,90,96,64
42501,97,97,1,1,86,34,22,11,17,8,92,71,64,0,1,1,0,90,96,64
42502,97,97,1,1,86,34,22,11,17,8,92,71,64,0,1,1,0,90,96,64

## Filtering data

In [104]:
df.filter(items=['id','year'])

          id    year
0       1035     NaN
1       1036     NaN
2       1037  1785.0
3       1038     NaN
4       1039  1826.0
...      ...     ...
42498  11910  1865.0
42499   1784     NaN
42500   1785     NaN
42501   1786     NaN
42502   1787  1877.0

[42503 rows x 2 columns]

## like param are case sensitive avoid case sensitive we usr regular exp.

In [105]:
df.filter(regex="(?i)year")

         year  acquisitionYear
0         NaN           1922.0
1         NaN           1922.0
2      1785.0           1922.0
3         NaN           1922.0
4      1826.0           1919.0
...       ...              ...
42498  1865.0           1924.0
42499     NaN           1924.0
42500     NaN           1924.0
42501     NaN           1924.0
42502  1877.0           1924.0

[42503 rows x 2 columns]

### Droping data with pandas

In [111]:
df.drop(columns=['title'])

                                  artist
0                          Blake, Robert
1                          Blake, Robert
2                          Blake, Robert
3                          Blake, Robert
4                         Blake, William
...                                  ...
42498               Pinwell, George John
42499  Burne-Jones, Sir Edward Coley, Bt
42500  Burne-Jones, Sir Edward Coley, Bt
42501  Burne-Jones, Sir Edward Coley, Bt
42502  Burne-Jones, Sir Edward Coley, Bt

[42503 rows x 1 columns]

In [112]:
df.head()

           artist                                              title
0   Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1   Blake, Robert  Two Drawings of Frightened Figures, Probably f...
2   Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
3   Blake, Robert     Six Drawings of Figures with Outstretched Arms
4  Blake, William  The Circle of the Lustful: Francesca da Rimini...

### Droping data on time of loading data

In [113]:
#df=pd.read_csv('artwork_sample.csv',usecols=['artist','title'])

### Direct filtering with square bracket

In [117]:
df=pd.read_csv('artwork_sample.csv')

/root/anaconda3/envs/tensorflow/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [118]:
df['id']

0         1035
1         1036
2         1037
3         1038
4         1039
         ...
42498    11910
42499     1784
42500     1785
42501     1786
42502     1787
Name: id, Length: 42503, dtype: int64

In [119]:
df['id'][1]

1036

## Accessing row

In [120]:
df[1:5]

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,date not known,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [121]:
df[1:5]['artist']

1     Blake, Robert
2     Blake, Robert
3     Blake, Robert
4    Blake, William
Name: artist, dtype: object

In [122]:
df[df.year>1920]['year']

1025     1931.0
1026     1931.0
1027     1931.0
1028     1931.0
1029     1931.0
          ...
42486    1923.0
42487    1924.0
42488    1924.0
42490    1923.0
42492    1923.0
Name: year, Length: 1144, dtype: float64

### Dealing with missing value
   * Deal with bad data

In [131]:
pd.isna(df.loc[:'dateText'])

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,False,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,True,True,False,False
1,False,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,True,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,False,False
3,False,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,True,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42498,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True,False,False
42499,False,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,True,True,False,False
42500,False,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,True,True,False,False
42501,False,False,False,False,False,False,True,False,False,True,False,False,False,False,True,False,True,True,False,False
42502,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True,True

In [125]:
from numpy import nan

In [128]:
df.replace({'dateText':{'date not known':nan}},inplace=True)

In [129]:
df.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,NaN,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",NaN,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,NaN,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

In [133]:
df.loc[df.dateText=='date not known',['dateText']]=nan

In [134]:
df.head()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,NaN,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
1,1036,A00002,"Blake, Robert",artist,38,"Two Drawings of Frightened Figures, Probably f...",NaN,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 311 x 213 mm,311,213,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-two-...
2,1037,A00003,"Blake, Robert",artist,38,The Preaching of Warning. Verso: An Old Man En...,?c.1785,Graphite on paper. Verso: graphite on paper,Presented by Mrs John Richmond 1922,1785.0,1922.0,support: 343 x 467 mm,343,467,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
3,1038,A00004,"Blake, Robert",artist,38,Six Drawings of Figures with Outstretched Arms,NaN,Graphite on paper,Presented by Mrs John Richmond 1922,NaN,1922.0,support: 318 x 394 mm,318,394,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-six-...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...

## Drop Rows of data

In [137]:
df.shape

(42503, 20)

In [138]:
df.dropna()

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
1738,98171,AR00001,"Katz, Alex",artist,1386,Pansies,1967,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,1967.0,2008.0,support: 309 x 404 x 4 mm frame: 322 x 424 x 3...,309,404,4.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-pansi...
1739,98172,AR00002,"Katz, Alex",artist,1386,Tulips,1969,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,1969.0,2008.0,support: 356 x 253 x 3 mm frame: 375 x 273 x 3...,356,253,3.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-tulip...
1740,98173,AR00003,"Katz, Alex",artist,1386,West Window,1979,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,1979.0,2008.0,support: 196 x 238 x 3 mm frame: 216 x 256 x 3...,196,238,3.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-west-...
1741,98174,AR00004,"Katz, Alex",artist,1386,Lillies Against Yellow House,1983,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,1983.0,2008.0,support: 307 x 229 x 3 mm frame: 327 x 249 x 3...,307,229,3.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-lilli...
1742,98175,AR00005,"Katz, Alex",artist,1386,Young Trees,1989,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,1989.0,2008.0,support: 407 x 301 x 3 mm frame: 426 x 320 x 3...,407,301,3.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-young...
1743,98177,AR00006,"Katz, Alex",artist,1386,Daisies #2,1992,Oil paint on board,ARTIST ROOMS Acquired jointly with the Nationa...,1992.0,2008.0,support: 231 x 320 x 6 mm frame: 250 x 321 x 3...,231,320,6.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-daisi...
1744,98178,AR00007,"Katz, Alex",artist,1386,Ocean View,1992,Oil paint on fibreboard,ARTIST ROOMS Acquired jointly with the Nationa...,1992.0,2008.0,support: 231 x 320 x 6 mm frame: 251 x 315 x 3...,231,320,6.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-ocean...
1747,98183,AR00010,"Katz, Alex",artist,1386,West Palm Beach,1997,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,1997.0,2008.0,support: 228 x 299 x 3 mm frame: 249 x 319 x 3...,228,299,3.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-west-...
1749,98185,AR00012,"Katz, Alex",artist,1386,City Night,1998,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,1998.0,2008.0,support: 229 x 300 x 4 mm frame: 249 x 321 x 3...,229,300,4.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-city-...
1751,98187,AR00014,"Katz, Alex",artist,1386,Road,1998,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,1998.0,2008.0,support: 308 x 230 x 3 mm frame: 323 x 250 x 3...,308,230,3.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-road-...
1752,98189,AR00015,"Katz, Alex",artist,1386,Penobscot,1999,Oil paint on board,ARTIST ROOMS Acquired jointly with the Nationa...,1999.0,2008.0,support: 229 x 305 x 4 mm frame: 249 x 322 x 3...,229,305,4.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-penob...
1753,98190,AR00016,"Katz, Alex",artist,1386,Grey Marine,2000,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,2000.0,2008.0,support: 230 x 305 x 3 mm frame: 249 x 325 x 3...,230,305,3.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-grey-...
1754,98994,AR00017,"Katz, Alex",artist,1386,Pink Sweater,1981,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,1981.0,2008.0,support: 405 x 302 x 3 mm frame: 428 x 322 x 3...,405,302,3.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-pink-...
1755,98995,AR00018,"Katz, Alex",artist,1386,Eli’s Friend,1985,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,1985.0,2008.0,frame: 422 x 320 x 34 mm support: 402 x 300 x ...,422,320,34.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-elis-...
1756,98996,AR00019,"Katz, Alex",artist,1386,Kate,1994,Oil paint on hardboard,ARTIST ROOMS Acquired jointly with the Nationa...,1994.0,2008.0,support: 403 x 304 x 3 mm frame: 432 x 333 x 3...,403,304,3.0,mm,date inscribed,© Alex Katz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/katz-kate-...
1768,98301,AR00031,"Baselitz, Georg",artist,699,Folkdance Melancholia,1989,Oil paint on canvas,ARTIST ROOMS Acquired jointly with the Nationa...,1989.0,2008.0,support: 2504 x 2510 x 58 mm,2504,2510,58.0,mm,date inscribed,© Georg Baselitz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/baselitz-f...
1769,98303,AR00032,"Baselitz, Georg",artist,699,"Where is the Yellow Milkjug, Mrs Bird?",1989,Oil paint on canvas,ARTIST ROOMS Acquired jointly with the Nationa...,1989.0,2008.0,support: 2504 x 2505 x 55 mm,2504,2505,55.0,mm,date inscribed,© Georg Baselitz,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/baselitz-w...
1783,98445,AR00046,"Ruscha, Edward",artist,1882,DANCE?,1973,"Coffee, egg white, mustard and graphite on canvas",ARTIST ROOMS Acquired jointly with the Nationa...,1973.0,2008.0,support: 1372 x 1520 x 29 mm,1372,1520,29.0,mm,date inscribed,© Ed Ruscha,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/ruscha-dan...
1803,95724,AR00066,"Gallagher, Ellen",artist,9553,Paper Cup,1996,Ink on paper on canvas,ARTIST ROOMS Acquired jointly with the Nationa...,1996.0,2008.0,support: 2135 x 1830 x 41 mm,2135,1830,41.0,mm,date inscribed,© Ellen Gallagher,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/gallagher-...
1817,95900,AR00080,"Koons, Jeff",artist,2368,Made in Heaven,1989,Lithograph on paper on canvas,ARTIST ROOMS Acquired jointly with the Nationa...,1989.0,2008.0,support: 3145 x 6910 x 5.5 mm,3145,6910,5.5,mm,date inscribed,© Jeff Koons,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/koons-made...
1824,93046,AR00087,"Beuys, Joseph",artist,747,Langhaus (Vitrine),1953–62,"Wood, glass, felt, oil paint and paper",ARTIST ROOMS Acquired jointly with the Nationa...,1953.0,2008.0,displayed: 1830 x 1545 x 640 mm,1830,1545,640.0,mm,date inscribed,"© DACS, 2014",http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-lang...
1826,95850,AR00089,"Beuys, Joseph",artist,747,Domenica delle Palme,1981,"Palm fronds, blossom, sulphur, cardboard, meta...",ARTIST ROOMS Acquired jointly with the Nationa...,1981.0,2008.0,displayed: 860 x 1450 x 990 mm object (vitrine...,860,1450,990.0,mm,date inscribed,"© DACS, 2014",http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-dome...
1849,98562,AR00112,"Beuys, Joseph",artist,747,Electricity,1959,"3 works on paper, oil paint and watercolour",ARTIST ROOMS Acquired jointly with the Nationa...,1959.0,2008.0,support (upper): 238 x 336 mm support (centre)...,(upper):,238,336.0,mm,date inscribed,"© DACS, 2014",http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-elec...
1858,98634,AR00121,"Beuys, Joseph",artist,747,Houses of the Shaman,1965,"2 works on paper, oil paint and graphite",ARTIST ROOMS Acquired jointly with the Nationa...,1965.0,2008.0,support (left): 359 x 259 mm support (right): ...,(left):,359,259.0,mm,date inscribed,"© DACS, 2014",http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-hous...
1864,98659,AR00127,"Beuys, Joseph",artist,747,The Woman with the Dog,1975,"Graphite, oil paint and metal on paper and card",ARTIST ROOMS Acquired jointly with the Nationa...,1975.0,2008.0,"support (top): 254 x 264 mm support (lower, ea...",(top):,254,264.0,mm,date inscribed,"© DACS, 2014",http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-the-...
1866,98662,AR00129,"Beuys, Joseph",artist,747,The Shaman’s Two Bags,1977,"Graphite, crayon and ink on paper",ARTIST ROOMS Acquired jointly with the Nationa...,1977.0,2008.0,support (left): 760 x 564 mm support (right): ...,(left):,760,564.0,mm,date inscribed,"© DACS, 2014",http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-the-...
1908,98311,AR00171,Gilbert & George,artist,1163,Fallen Leaves,1980,"16 hand-coloured photographs, gelatin silver p...",ARTIST ROOMS Acquired jointly with the Nationa...,1980.0,2008.0,displayed: 2424 x 2020 x 25 mm,2424,2020,25.0,mm,date inscribed,© Gilbert & George,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/gilbert-ge...
1909,98312,AR00172,Gilbert & George,artist,1163,CRUSADE,1980,"16 hand-coloured photographs, gelatin silver p...",ARTIST ROOMS Acquired jointly with the Nationa...,1980.0,2008.0,displayed: 2424 x 2020 x 25 mm,2424,2020,25.0,mm,date inscribed,© Gilbert & George,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/gilbert-ge...
1913,92275,AR00176,Gilbert & George,artist,1163,Faith Drop,1991,"15 photographs, gelatin silver print on paper ...",ARTIST ROOMS Acquired jointly with the Nationa...,1991.0,2008.0,displayed: 2538 x 3540 x 25 mm,2538,3540,25.0,mm,date inscribed,© Gilbert & George,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/gilbert-ge...
1914,98287,AR00177,"Martin, Agnes",artist,1583,Untitled #5,1994,Acrylic paint and graphite on canvas,ARTIST ROOMS Acquired jointly with the Nationa...,1994.0,2009.0,support: 1525 x 1528 x 35 mm,1525,1528,35.0,mm,date inscribed,© estate of Agnes Martin,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/martin-unt...
1915,98288,AR00178,"Martin, Agnes",artist,1583,Faraway Love,1999,Acrylic paint and graphite on canvas,ARTIST ROOMS Acquired jointly with the Nationa...,1999.0,2009.0,support: 1525 x 1525 x 35 mm,1525,1525,35.0,mm,date inscribed,© estate of Agnes Martin,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/martin-far...
2081,98380,AR00344,"Richter, Gerhard",artist,1841,Brigid Polk (305),1971,Oil paint on canvas,ARTIST ROOMS Acquired jointly with the Nationa...,1971.0,2009.0,support: 1750 x 1752 x 28 mm,1750,1752,28.0,mm,date inscribed,© Gerhard Richter,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/richter-br...
2231,98199,AR00494,"Koons, Jeff",artist,2368,Winter Bears,1988,Polychromed wood,ARTIST ROOMS Acquired jointly with the Nationa...,1988.0,2009.0,displayed: 1245 x 1170 x 450 mm,1245,1170,450.0,mm,date inscribed,© Jeff Koons,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/koons-wint...
2234,98213,AR00497,"Kounellis, Jannis",artist,1438,Untitled,1971,Oil paint on canvas,ARTIST ROOMS Acquired jointly with the Nationa...,1971.0,2009.0,support: 2200 x 3169 x 37 mm,2200,3169,37.0,mm,date inscribed,© Jannis Kounellis,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/kounellis-...
2341,93048,AR00604,"Beuys, Joseph",artist,747,Damp Value,1964–74,"Graphite on paper, paint on glass and wire",ARTIST ROOMS Acquired jointly with the Nationa...,1964.0,2009.0,frame: 811 x 591 x 31 mm,811,591,31.0,mm,date inscribed,"© DACS, 2014",http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-damp...
2351,98211,AR00614,"Kounellis, Jannis",artist,1438,Untitled,1960,Polyvinyl acetate paint and tempera on canvas,ARTIST ROOMS Acquired jointly with the Nationa...,1960.0,2009.0,support: 1409 x 2305 x 30 mm,1409,2305,30.0,mm,date inscribed,© Jannis Kounellis,http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/kounellis-...
2393,98614,AR00656,"Beuys, Joseph",artist,747,Untitled,1962,"Oil, seeds and vegetable matter on vinyl record",ARTIST ROOMS Acquired jointly with the Nationa...,1962.0,2009.0,displayed: 679 x 523 x 60 mm,679,523,60.0,mm,date inscribed,"© DACS, 2014",http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-unti...
2394,98615,AR00657,"Beuys, Joseph",artist,747,Runrig,1962–72,"3 works on paper, oil paint, on board",ARTIST ROOMS Acquired jointly with the Nationa...,1962.0,2009.0,support (upper): 197 x 161 mm support (centre)...,(upper):,197,161.0,mm,date inscribed,"© DACS, 2014",http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-runr...
2411,98645,AR00674,"Beuys, Joseph",artist,747,Score for Siberian Symphony,1966,Typescript on paper on 2 cardboards,ARTIST ROOMS Acquired jointly with the Nationa...,1966.0,2009.0,support (left): 309 x 209 mm support (right): ...,(left):,309,209.0,mm,date inscribed,"© DACS, 2014",http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-scor...
2424,98665,AR00687,"Beuys, Joseph",artist,747,Pyramidal image,1979,"2 works on printed paper, oil paint",ARTIST ROOMS Acquired jointly with the Nationa...,1979.0,2009.0,support (upper): 324 x 546 mm support (lower):...,(upper):,324,546.0,mm,date inscribed,"© DACS, 2014",http://www.tate.org.uk/art/images/work/AR/AR00...,http://www.tate.org.uk/art/artworks/beuys-pyra...
41283,11484,N01772,"Peacock, Ralph",artist,1748,The Sisters,1900,Oil paint on canvas,Presented by the artist 1900,1900.0,1900.0,frame: 1675 x 1275 x 114 mm support: 1300 x 90...,1675,1275,114.0,mm,date inscribed,© The estate of Ralph Peacock,http://www.tate.org.uk/art/images/work/N/N01/N...,http://www.tate.org.uk/art/artworks/peacock-th...
42317,9460,N03601,"Meštrovic, Ivan",artist,1625,"Sir Thomas Beecham, Bt.",1915,Bronze,Presented by Lady Cunard 1921,1915.0,1921.0,object: 492 x 165 x 213 mm,492,165,213.0,mm,date inscribed,© The estate of Ivan Meštrovic,http://www.tate.org.uk/art/images/work/N/N03/N...,http://www.tate.org.uk/art/artworks/mestrovic-...

In [139]:
df.dropna().shape

(42, 20)

In [140]:
df.dropna(how='all').shape

(42503, 20)

In [141]:
df.dropna(subset=['year','acquisitionYear'],how='all').shape

(42500, 20)

## Dealing with dupicate value

In [142]:
df.drop_duplicates(subset=['artist'])

,id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url
0,1035,A00001,"Blake, Robert",artist,38,A Figure Bowing before a Seated Old Man with h...,NaN,"Watercolour, ink, chalk and graphite on paper....",Presented by Mrs John Richmond 1922,NaN,1922.0,support: 394 x 419 mm,394,419,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-a-fi...
4,1039,A00005,"Blake, William",artist,39,The Circle of the Lustful: Francesca da Rimini...,"1826–7, reprinted 1892",Line engraving on paper,Purchased with the assistance of a special gra...,1826.0,1919.0,image: 243 x 335 mm,243,335,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/blake-the-...
49,1183,A00050,"Richmond, George",attributed to,447,Tracing of Title-Page of Blake’s ‘Book of Job’,?c.1826,Graphite on paper,Presented by Mrs John Richmond 1922,1826.0,1922.0,support: 214 x 157 mm,214,157,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/richmond-t...
50,1505,A00051,British School 18th century,artist,59,[title not known],NaN,Watercolour on paper,Bequeathed by Miss Julia Emily Gordon 1896,NaN,1896.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.tate.org.uk/art/artworks/british-sc...
56,1695,A00057,"Burne-Jones, Sir Edward Coley, Bt",artist,68,Study of a Woman’s Head,1870,Graphite on paper,Bequeathed by A.N. MacNicholl 1916,1870.0,1916.0,support: 203 x 184 mm,203,184,NaN,mm,date inscribed,NaN,http://www.tate.org.uk/art/images/work/A/A00/A...,http://www.tate.org.uk/art/artworks/burne-jone...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42491,16116,N03959,"Wheeler, Sir Charles",artist,2138,The Infant Christ,1920–4,Bronze on wooden base,Presented by the Trustees of the Chantrey Bequ...,1920.0,1924.0,"object: 343 x 216 x 133 mm, 6 kg",343,216,133.0,mm,NaN,© Estate of Sir Charles Wheeler,http://www.tate.org.uk/art/images/work/N/N03/N...,http://www.tate.org.uk/art/artworks/wheeler-th...
42492,1622,N03960,"Brown, Kellock",artist,67,Ju-Jitsu,1923,Bronze,Presented by the Trustees of the Chantrey Bequ...,1923.0,1924.0,object: 356 x 635 x 305 mm,356,635,305.0,mm,date inscribed,NaN,http://www.tate.org.uk/art/images/work/N/N03/N...,http://www.tate.org.uk/art/artworks/brown-ju-j...
42493,7930,N03962,"Kettle, Tilly",artist,308,Young Man in a Fawn Coat,c.1772–3,Oil paint on canvas,Bequeathed by Sir Claude Phillips 1925,1772.0,1925.0,support: 762 x 629 mm,762,629,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/N/N03/N...,http://www.tate.org.uk/art/artworks/kettle-you...
42494,7063,N03967,"Jackson, Alexander Young",artist,1346,The Entrance to Halifax Harbour,1919,Oil paint on canvas,Purchased 1924,1919.0,1924.0,support: 648 x 806 mm frame: 842 x 1002 x 92 mm,648,806,NaN,mm,date inscribed,© courtesy of the estate of late Dr Naomi Jack...,http://www.tate.org.uk/art/images/work/N/N03/N...,http://www.tate.org.uk/art/artworks/jackson-th...
42495,973,N03970,"Nicholson, Isaac",artist,17882,"Zebra, Illustration to ‘General History of Qua...",1822,Wood engraving on paper,Purchased 1924,1822.0,1924.0,image: 102 x 114 mm,102,114,NaN,mm,NaN,NaN,http://www.tate.org.uk/art/images/work/N/N03/N...,http://www.tate.org.uk/art/artworks/nicholson-...