In [1]:
import pandas as pd 
import numpy as np
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

WARNING:tensorflow:From /root/anaconda3/envs/tensorflow/lib/python3.8/site-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [2]:
df=pd.read_csv('rating.csv')

In [3]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
rating_pt=df.pivot(index='userId',columns='movieId',values='rating').fillna(0)

In [5]:
rating_pt

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Breaking data set into trainig and testing data set.
* 80% for training data.
* 20% for testing data.

In [6]:
train_rating_data=df[0:80000]

In [7]:
test_rating_data=df[80000:100000]

In [8]:
R_known_train=train_rating_data.rating.values

In [9]:
R_known_train

array([4., 4., 4., ..., 4., 3., 4.])

In [10]:
R_known_test=test_rating_data.rating.values

In [11]:
R_known_test

array([3. , 1. , 3. , ..., 4. , 4.5, 4. ])

In [12]:
user_indices_train=[i-1 for i in train_rating_data.userId.values]
movie_indices_train=[i-1 for i in train_rating_data.movieId.values]

In [13]:
user_indices_test=[x-1 for x in test_rating_data.userId.values]
movie_indices_test=[x-1 for x in test_rating_data.movieId.values]

## Preparing data

In [14]:
R=rating_pt
N=610 #no.of users
M=9724 #no of items
K=10 #no of hidden features
p=np.random.rand(N,K)
q=np.random.rand(K,M)

## In Matrix factorization prediction is eqaul to-
           prediction: r^=pq

In [15]:

#Prdection matrix
P=tf.Variable(p, dtype=tf.float32,name='P')
Q=tf.Variable(q,dtype=tf.float32,name='Q')
R_hat=tf.matmul(P,Q)

In [16]:
R_hat

In [17]:
#for cost
R_hat_flatten=tf.reshape(R_hat,[-1])
R_hat_train_known=tf.gather(R_hat_flatten,user_indices_train*tf.shape(R_hat)[1]+
                            movie_indices_train,name='extracting_user_rate')

## Cost: ||r^-r||

In [18]:
dif_rating=tf.subtract(R_hat_train_known,R_known_train,name='diff_rating')
dif_rating_abs=tf.abs(dif_rating,name='dif_rating_abs')
base_cost=tf.reduce_sum(dif_rating_abs,name='sum_abs_error')

In [19]:
base_cost

# Regularization:
## Σλ(||p||+||q||)

In [20]:
lda=tf.constant(.001,name='lambda')
norm_sums=tf.add(tf.reduce_sum(tf.abs(P,name='user_abs'),name='user_norm'),
                tf.reduce_sum(tf.abs(Q,name='movies_abs'),name='movies_norm'))
regularization=tf.multiply(norm_sums,lda,'regularization')

In [21]:
regularization

# Total Cost:  Σ||r^-r||+λ(||p||+||q||)

In [22]:
#total cost
cost=tf.add(base_cost,regularization)

In [23]:
#creating a optimizer to minimize the loss
optimizer=tf.train.GradientDescentOptimizer(0.001)
train=optimizer.minimize(cost)

In [25]:
sess=tf.Session();
init=tf.global_variables_initializer()
sess.run(init)
for i in range(500):
    sess.run(train)

In [26]:
R_hat_test_known=tf.gather(R_hat_flatten,user_indices_test*tf.shape(R_hat)[1]+
                           movie_indices_test,name='extracting_user_rate')

In [27]:
R_hat

In [28]:
dif_rating_test=tf.subtract(R_hat_test_known,R_known_test,name='dif_rating_test')
dif_rating_abs_test=tf.abs(dif_rating_test)
sum_dif_rating_abs_test=tf.reduce_sum(dif_rating_abs_test)
accuarcy_test=tf.div(sum_dif_rating_abs_test,R_known_test.size)

WARNING:tensorflow:From <ipython-input-28-e504e1405a74>:4: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.

In [29]:
accuarcy_test

In [30]:
R.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## VIsualize R_hat rating prediction ,to compare with known R

In [31]:
pred=sess.run(R_hat)
pred_df=pd.DataFrame(pred)
pred_df.head()

,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
0,4.304801,3.779685,3.641321,3.115594,3.550970,4.158699,3.756225,3.562091,2.990922,4.123855,...,5.330853,4.986449,5.370636,4.561062,5.741880,6.366736,5.739911,6.086081,5.933080,7.019565
1,3.555738,3.405249,3.400023,2.166828,3.167616,3.619647,3.205673,3.022454,2.777730,3.418125,...,4.084352,3.897002,4.555563,3.898583,4.399221,5.325601,4.691420,5.459928,4.527223,5.431360
2,0.904957,1.874383,2.130000,-0.547949,1.561363,1.593272,0.589622,-1.901643,0.842297,2.697634,...,1.188551,2.218515,2.455617,2.428954,2.952734,2.877300,0.700853,3.718726,1.930032,2.335585
3,3.494428,2.723359,1.967118,3.135467,2.153986,3.573132,2.995941,1.326363,1.824829,3.393178,...,4.510259,4.786736,4.087538,3.029492,5.063051,5.433655,4.357400,4.734011,5.129756,5.827688
4,3.417284,3.169867,2.787430,3.991160,2.553676,4.217943,3.406866,3.268203,2.817775,3.003579,...,3.612293,3.754462,3.802951,2.863023,3.384103,5.112639,4.879285,5.329576,4.589973,5.149755